@font-face {
  font-family: 'harmonia cond bold';
  src: url('../fonts/harmonia-cond-bold.ttf');
}

@font-face {
  font-family: 'harmonia cond light';
  src: url('../fonts/harmonia-cond-light.ttf');
}

@font-face {
  font-family: 'harmonia cond normal';
  src: url('../fonts/harmonia-cond-normal.ttf');
}

@font-face {
  font-family: 'harmonia bold';
  src: url('../fonts/harmonia-bold.otf');
}

@font-face {
  font-family: 'harmonia normal';
  src: url('../fonts/harmonia-normal.otf');
}
