#error {
  background-color: $light;

  .background {
    background-color: $black;
    position: absolute;
    height: 100%;
    z-index: 1;
    opacity: 0;

    @include media(phone) {
      animation: fade-in $time-slow forwards;
      height: 100%;
      width: 100%;
      left: 0;
    }

    @include media(tablet) {
      animation: fade-in-right $time-slow forwards;
      width: calc(100% - #{$padding-normal});
    }

    @include media(biggest) {
      width: calc(100% - #{$padding-biggest});
    }
  }

  .paragraph {
    z-index: 1;
    position: relative;
    text-align: center;

    > * {
      opacity: 0;
    }

    p {
      color: $light;
      line-height: 1;
      font-family: $cond-bold;
      animation: fade-in-right $time-slow .1s forwards;

      @include media(phone) {
        font-size: em(100);
      }

      @include media(tablet) {
        font-size: em(200);
      }

      @include media(biggest) {
        font-size: em(300);
      }
    }

    span {
      color: $light;
      display: block;
      font-family: $cond-light;
      animation: fade-in-right $time-slow .2s forwards;

      @include media(phone) {
        margin-bottom: 5vh;
        font-size: em(18);
      }

      @include media(tablet) {
        margin-bottom: 5vh;
        font-size: em(30);
      }

      @include media(biggest) {
        font-size: em(50);
      }
    }

    a {
      @include transition($time-fast);
      animation: fade-in-right $time-slow .3s forwards;
      font-family: $cond-light;
      background-color: $light;
      padding: 10px 20px 5px;
      display: block;
      margin: 0 auto;
      color: $black;
      opacity: 0;

      @include media(phone) {
        font-size: em(20);
        width: 150px;
      }

      @include media(tablet) {
        font-size: em(25);
        width: 150px;
      }

      &:focus,
      &:hover {
        background-color: $primary;
      }
    }

    img {
      animation: fade-in $time-slow 1.5s forwards;
      margin-bottom: 5vh;

      @include media(phone) {
        width: 300px;
      }

      @include media(tablet) {
        width: 400px;
      }

      @include media(biggest) {
        width: 600px;
      }
    }
  }
}
