#about-1 {
  background-color: $light;

  &.animate {
    .paragraph span {
      span {
        transition: transform 1s cubic-bezier(0, 0, .2, 1), opacity 1s cubic-bezier(0, 0, .2, 1);
        transform: translateZ(0);
        opacity: 1;
      }

      &:nth-of-type(2) span {
        transition-delay: .2s;
      }

      &:nth-of-type(3) span {
        transition-delay: .4s;
      }

      &:nth-of-type(4) span {
        transition-delay: .6s;
      }
    }
  }

  .circle {
    p {
      color: $dark;
    }

    a {
      background: url('/../images/mouse-dark.svg') center no-repeat;
      background-size: 30%;
    }
  }

  .photo {
    background: url('/../images/about-online-women-biz.jpg') no-repeat;
    background-position: 100% 0;
    background-size: cover;
    position: absolute;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;

    @include media(phone) {
      animation: fade-in $time-slow forwards;
      background-position: 50%;
      background-size: cover;
      width: 100%;
      left: 0;
    }

    @include media(tablet) {
      animation: fade-in-right $time-slow forwards;
      width: calc(100% - #{$padding-normal} * 3);
      background-position: left;
      background-size: contain;
      left: $padding-normal;
    }

    @include media(desktop) {
      width: calc(100% - #{$padding-normal});
    }

    @include media(biggest) {
      left: $padding-biggest;
      max-width: 1280px;
    }
  }

  .paragraph {
    z-index: 1;
    position: absolute;

    @include media(phone) {
      left: $indent-phone;
      bottom: 5vh;
      width: 90vw;
    }

    @include media(tablet) {
      padding-right: $indent-normal;
      width: 40vw;
      top: 20vh;
      right: 0;
    }

    @include media(biggest) {
      padding-right: $indent-biggest;
      width: 45vw;
      right: 5%;
      top: 15vh;
    }

    > * {
      font-family: $cond-bold;
      line-height: 1;
    }

    span {
      color: $dark;
      display: flex;
      overflow: hidden;

      span {
        transition: transform .2s cubic-bezier(.4, 0, 1, 1), opacity .2s cubic-bezier(.4, 0, 1, 1);
        transform: translate3d(0, 100%, 0);
        display: block;
        opacity: 0;

        @include media(phone) {
          font-size: em(60);
        }

        @include media(smallest) {
          font-size: em(50);
        }

        @include media(tablet) {
          font-size: em(80);
        }

        @include media(desktop) {
          font-size: em(100);
        }

        @include media(biggest) {
          font-size: em(200);
        }
      }
    }

    p {
      opacity: 0;
      display: block;
      line-height: 1.48;
      font-family: $cond-light;
      animation: fade-in-up $time-slow .8s forwards;

      @include media(phone) {
        font-size: em(14);
      }

      @include media(tablet) {
        margin-left: 12.5vw;
        font-size: em(20);
      }

      @include media(biggest) {
        margin-left: 15vw;
        font-size: em(30);
      }
    }
  }
}

#about-2 {
  background-color: $primary;

  @include media(tablet) {
    padding-right: $indent-normal;
  }

  @include media(biggest) {
    padding-right: $indent-biggest;
  }

  > div > div {
    position: relative;
  }

  &.animate {
    .slogan,
    .absolute > *,
    .paragraph > p {
      animation: fade-in-up $time-slow forwards;
    }

    .slogan {
      animation-delay: .1s;
    }

    .paragraph p {
      animation-delay: .3s;
    }

    .absolute div {
      animation-delay: 1s;
    }
  }

  .slogan {
    opacity: 0;
    z-index: 1;
    line-height: 1;
    position: relative;
    font-family: $cond-bold;
    text-transform: uppercase;

    @include media(phone) {
      font-size: em(30);
      margin-top: 7.5vh;
    }

    @include media(smallest) {
      font-size: em(24);
      margin-top: 10vh;
    }

    @include media(tablet) {
      font-size: em(100);
      width: 50vw;
    }

    @include media(desktop) {
      font-size: em(140);
    }

    @include media(biggest) {
      font-size: em(165);
      width: 40vw;
    }
  }

  .paragraph {
    @include media(tablet) {
      width: 40%;
    }

    p {
      line-height: 1.48;
      opacity: 0;

      @include media(phone) {
        margin-top: 2.5vh;
        font-size: em(14);
      }

      @include media(smallest) {
        font-size: em(12);
      }

      @include media(tablet) {
        margin-top: 2.5vh;
        font-size: em(15);
      }

      @include media(desktop) {
        font-size: em(20);
      }

      @include media(biggest) {
        font-size: em(24);
      }
    }
  }

  .absolute {
    display: flex;
    z-index: 0;

    @include media(phone) {
      padding-bottom: 5vh;
      padding-top: 2.5vh;
      position: relative;
      height: 270px;
      width: 256px;
    }

    @include media(smallest) {
      height: 190px;
      width: 200px;
    }

    @include media(tablet) {
      right: $indent-normal;
      position: absolute;
      height: 422px;
      width: 400px;
      top: 0;
    }

    @include media(desktop) {
      height: 638px;
      width: 605px;
    }

    @include media(biggest) {
      right: $indent-biggest;
      height: 850px;
      width: 806px;
    }

    > * {
      opacity: 0;
    }

    img {
      z-index: 1;
      width: 100%;
    }

    div {
      background-color: $dark;
      position: absolute;
      height: 80%;
      width: 80%;

      @include media(phone) {
        right: -15%;
        bottom: 5%;
      }

      @include media(smallest) {
        right: -20%;
      }

      @include media(tablet) {
        right: -10%;
        top: -5%;
      }
    }
  }
}

#about-3 {
  &.animate {
    $arrow: 4;
    $paragraph: 3;

    .slogan,
    .paragraph > p {
      animation: fade-in-up $time-slow forwards;
    }

    .slogan {
      animation-delay: .1s;
    }

    .paragraph p {
      animation-delay: .3s;
    }

    .round {
      animation: fade-in $time-slow forwards;
    }

    .round--1 {
      animation-delay: .5s;
    }

    .round--2 {
      animation-delay: 1s;
    }

    .round--3 {
      animation-delay: 1.5s;
    }

    @for $i from 1 through $paragraph {
      .paragraph p:nth-of-type(#{$i}) {
        animation: fade-in-up $time-slow .5s * $i forwards;
      }
    }

    @for $i from 1 through $arrow {
      .arrow span:nth-of-type(#{$i}) {
        animation: fade-in-down $time-slow .2s * $i forwards;
      }
    }
  }

  .slogan {
    opacity: 0;
    z-index: 1;
    line-height: 1;
    position: relative;
    font-family: $cond-bold;
    text-transform: uppercase;

    @include media(phone) {
      font-size: em(30);
      margin-top: 7.5vh;
    }

    @include media(smallest) {
      font-size: em(24);
      margin-top: 10vh;
    }

    @include media(tablet) {
      font-size: em(80);
      width: 50vw;
    }

    @include media(desktop) {
      font-size: em(100);
    }

    @include media(biggest) {
      font-size: em(165);
      width: 40vw;
    }
  }

  .paragraph {
    @include media(tablet) {
      margin-left: 5vw;
      width: 55%;
    }

    @include media(biggest) {
      margin-left: 10vw;
      width: 40%;
    }

    p {
      line-height: 1.48;
      opacity: 0;

      @include media(phone) {
        margin-top: 2.5vh;
        font-size: em(14);
      }

      @include media(smallest) {
        font-size: em(12);
      }

      @include media(tablet) {
        margin-top: 2.5vh;
        font-size: em(15);
      }

      @include media(desktop) {
        font-size: em(20);
      }

      @include media(biggest) {
        font-size: em(24);
      }
    }
  }

  .round {
    text-transform: uppercase;

    @include media(phone) {
      font-size: em(26);
      height: 150px;
      width: 150px;
    }

    @include media(smallest) {
      font-size: em(18);
      height: 100px;
      width: 100px;
    }

    &--1 {
      &::after {
        background-position: center;
        margin: 0 auto;
        content: '';
      }
    }

    @include media(phone) {
      &--1 {
        left: $indent-phone;
        margin-top: $indent-phone;

        &::after {
          @include image-retina('/../images/logo-small-light.png', '/../images/logo-small-light-2x.png');
        }
      }

      &--2 {
        right: 15vw;
        margin-top: 10vh;
      }

      &--3 {
        margin-top: 22.5vh;
        left: $indent-phone * 3;
      }
    }

    @include media(tablet) {
      &--1 {
        right: 10vw;
        top: 5vh;

        &::after {
          @include image-retina('/../images/logo-small-light.png', '/../images/logo-small-light-2x.png');
        }
      }

      &--2 {
        top: 37.5vh;
        right: 5vw;
      }

      &--3 {
        top: 65vh;
        right: 18vw;
      }
    }

    @include media(desktop) {
      &--2 {
        right: 7.5vw;
      }
    }

    @include media(biggest) {
      margin-right: $padding-biggest;

      &--1 {
        right: 0;

        &::after {
          @include image-retina('/../images/logo-big-light.png', '/../images/logo-big-light-2x.png');
        }
      }

      &--2 {
        top: 47.5vh;
        right: -2.5vw;
      }

      &--3 {
        top: 75vh;
        right: 16vw;
      }
    }
  }

  .arrow {
    @include media(phone) {
      margin-top: 40vh;
    }

    @include media(tablet) {
      margin-left: 5vw;
      margin-top: 5vh;
      float: initial;
    }

    @include media(biggest) {
      margin-left: 10vw;
      margin-top: 10vh;
    }
  }
}

#about-4 {
  @include media(phone) {
    padding-bottom: 5vh;
    padding-top: 5vh;
  }

  @include media(tablet) {
    padding-bottom: 10vh;
    padding-top: 10vh;
  }

  &.animate {
    .image,
    .slogan,
    .absolute > * {
      animation: fade-in-up $time-slow forwards;
    }

    .slogan {
      animation-delay: .2s;
    }

    .absolute div {
      animation-delay: 1s;
    }
  }

  .absolute {
    position: relative;
    display: flex;
    z-index: -1;

    @include media(phone) {
      padding-bottom: 5vh;
      padding-top: 2.5vh;
      position: relative;
      height: 200px;
      width: 300px;
    }

    @include media(smallest) {
      height: 170px;
      width: 255px;
    }

    @include media(tablet) {
      margin: 0 auto;
      height: 540px;
      width: 810px;
    }

    @include media(biggest) {
      height: 718px;
      width: 1077px;
    }

    > * {
      opacity: 0;
    }

    img {
      z-index: 1;
      width: 100%;
    }

    div {
      background-color: $primary;
      position: absolute;
      height: 80%;
      right: -15%;
      width: 80%;

      @include media(phone) {
        bottom: 5%;
      }

      @include media(smallest) {
        right: -10%;
      }

      @include media(tablet) {
        top: -15%;
      }
    }
  }

  .slogan {
    opacity: 0;
    z-index: 1;
    line-height: 1;
    width: fit-content;
    text-align: center;
    font-family: $cond-bold;
    text-transform: uppercase;
    margin: 5vh auto 0;

    @include media(phone) {
      margin-top: 7.5vh;
      font-size: em(65);
      text-align: left;
    }

    @include media(smallest) {
      font-size: em(50);
      margin-top: 10vh;
    }

    @include media(tablet) {
      white-space: nowrap;
      font-size: em(155);
    }

    @include media(biggest) {
      font-size: em(220);
    }
  }
}

#about-5 {
  background-color: $primary;

  @include media(phone) {
    padding-bottom: 5vh;
    padding-top: 5vh;
  }

  @include media(tablet) {
    padding-bottom: 10vh;
    padding-top: 10vh;
  }

  &.animate {
    .title,
    .paragraph > * {
      animation: fade-in $time-slow forwards;
    }

    .absolute {
      $absolute: 2;

      > * {
        animation: fade-in-up $time-slow forwards;
      }

      @for $i from 1 through $absolute {
        &--#{$i} {
          img {
            animation-delay: .5s * $i;
          }

          div {
            animation-delay: 1s * $i;
          }
        }
      }
    }

    .paragraph {
      $paragraph: 2;

      @for $i from 1 through $paragraph {
        &--#{$i} {
          p {
            animation-delay: .6s * $i;
          }

          span {
            animation-delay: .7s * $i;
          }

          a {
            animation-delay: .8s * $i;
          }
        }
      }
    }
  }

  .block {
    position: relative;

    @include media(phone) {
      &:not(:last-of-type) {
        padding-bottom: 5vh;
      }
    }

    @include media(tablet) {
      margin-right: $indent-normal;
      padding-bottom: 20vh;
      display: flex;
    }

    @include media(biggest) {
      margin-right: $indent-biggest;
    }

    .absolute {
      display: flex;
      position: relative;

      &--1 {
        @include media(phone) {
          padding-bottom: 5vh;
          padding-top: 2.5vh;
          height: 394px;
          width: 280px;
        }

        @include media(smallest) {
          height: 352px;
          width: 250px;
        }

        @include media(tablet) {
          margin-right: $indent-normal * 2;
          height: 422px;
          width: 300px;
        }

        @include media(desktop) {
          height: 570px;
          width: 405px;
        }

        @include media(biggest) {
          margin-right: $indent-biggest * 2;
          height: 526px;
          width: 374px;
        }
      }

      &--2 {
        @include media(phone) {
          padding-bottom: 2.5vh;
          height: 420px;
          width: 285px;
        }

        @include media(smallest) {
          height: 376px;
          width: 255px;
        }

        @include media(tablet) {
          margin-left: $indent-normal * 2;
          height: 405px;
          width: 275px;
        }

        @include media(desktop) {
          height: 444px;
          width: 301px;
        }

        @include media(biggest) {
          margin-left: $indent-biggest * 2;
          height: 444px;
          width: 301px;
        }
      }

      > * {
        opacity: 0;
      }

      img {
        z-index: 1;
        width: 100%;
      }

      div {
        background-color: $dark;
        position: absolute;
        height: 50%;
        right: -10%;
        width: 80%;

        @include media(phone) {
          bottom: 0;
        }

        @include media(tablet) {
          top: 60%;
        }
      }
    }

    .paragraph {
      z-index: 2;

      @include media(phone) {
        margin-bottom: 2.5vh;
      }

      > * {
        opacity: 0;
      }

      > span {
        display: block;
        line-height: 1.48;

        @include media(phone) {
          margin-top: 2.5vh;
          font-size: em(14);
        }

        @include media(smallest) {
          font-size: em(12);
        }

        @include media(tablet) {
          font-size: em(15);
          margin-top: 1vh;
        }

        @include media(desktop) {
          font-size: em(20);
        }

        @include media(biggest) {
          font-size: em(24);
        }
      }

      p:not(.title) {
        font-family: $cond-bold;
        text-transform: uppercase;

        @include media(phone) {
          white-space: nowrap;
          font-size: em(35);
        }

        @include media(smallest) {
          font-size: em(25);
        }

        @include media(tablet) {
          font-size: em(40);
        }

        @include media(biggest) {
          font-size: em(60);
        }
      }

      a {
        color: $light;
        display: block;
        margin-top: 5vh;
        font-size: em(25);
        font-family: $cond-bold;
        text-transform: uppercase;

        @include media(phone) {
          text-align: right;
          font-size: em(20);
        }

        span {
          color: $dark;
        }
      }

      .title {
        opacity: 0;
        z-index: 1;
        line-height: 1;
        text-align: right;
        position: relative;
        font-family: $cond-bold;
        text-transform: uppercase;

        @include media(phone) {
          margin-bottom: 5vh;
          margin-top: 7.5vh;
          font-size: em(80);
        }

        @include media(smallest) {
          font-size: em(60);
          margin-top: 10vh;
        }

        @include media(tablet) {
          margin-bottom: 5vh;
          font-size: em(70);
        }

        @include media(desktop) {
          font-size: em(100);
        }

        @include media(biggest) {
          font-size: em(165);
        }
      }

      &--1 {
        @include media(tablet) {
          width: 50vw;
          top: 10vh;
          right: 0;
        }

        @include media(biggest) {
          right: 5vw;
          top: 5vh;
        }
      }

      &--2 {
        @include media(tablet) {
          width: 50vw;
          left: 10vw;
          top: -5vh;
        }

        @include media(biggest) {
          width: 65vw;
          left: 15vw;
        }

        p {
          text-align: right;
        }
      }
    }
  }
}

#about-6 {
  background-color: $secondary;

  @include media(phone) {
    padding-bottom: 5vh;
    padding-top: 5vh;
  }

  @include media(tablet) {
    padding-bottom: 10vh;
    padding-top: 10vh;
  }

  &.animate {
    .slogan,
    .youtube-player {
      animation: fade-in-up $time-slow forwards;
    }

    .youtube-player {
      animation-delay: .1s;
    }
  }

  .slogan {
    opacity: 0;
    color: $primary;
    margin-bottom: 1vh;
    font-family: $cond-bold;
    text-transform: uppercase;

    @include media(phone) {
      font-size: em(60);
    }

    @include media(smallest) {
      font-size: em(40);
    }

    @include media(tablet) {
      font-size: em(140);
    }
  }
}

#about-7 {
  background-color: $primary;

  @include media(phone) {
    padding: 0;
  }

  &.animate {
    table tr,
    .title-above-table, {
      animation: fade-in-up $time-slow forwards;
    }

    table tr {
      animation-delay: .1s;

      &:nth-of-type(2) {
        animation-delay: .2s;
      }
    }
  }

  table tr {
    border-top: 1px solid $dark;

    &:last-of-type {
      border-bottom: 1px solid $dark;
    }

    td:last-of-type a {
      color: $dark;

      @include media(phone) {
        background-color: $secondary;
        color: $primary;
      }
    }
  }
}
