#about-1 {
  background-color: $light;

  .photo {
    position: absolute;
    z-index: 1;
    opacity: 0;
    left: 0;

    @include media(phone) {
      animation: fade-in $time-slow forwards;
      background: url('/../images/about-phone-1.jpg') no-repeat;
      background-position: 40%;
      background-size: cover;
      height: 100%;
      width: 100%;
    }

    @include media(tablet) {
      animation: fade-in-up $time-slow forwards;
      background: url('/../images/about-1.jpg') no-repeat;
      background-size: calc(100% - #{$padding-normal});
      background-position: 100% 0;
      height: 110%;
      width: 61.5%;
    }

    @include media(biggest) {
      background-size: calc(100% - #{$padding-biggest});
      width: 40%;
    }
  }

  .paragraph {
    z-index: 1;
    position: absolute;

    @include media(phone) {
      bottom: $indent-phone;
      left: $indent-phone;
      width: 45%;
    }

    @include media(smallest) {
      width: calc(100% - #{$indent-phone});
    }

    @include media(tablet) {
      width: calc(40% - #{$indent-normal});
      right: $indent-biggest;
      top: 17.5vh;
    }

    @include media(biggest) {
      right: $indent-normal * 6;
    }

    > * {
      opacity: 0;
      color: $primary;
      animation: fade-in-right $time-slow forwards;
    }

    p:first-of-type {
      line-height: 1;
      animation-delay: .1s;
      font-family: $cond-bold;

      @include media(phone) {
        font-size: em(40);
      }

      @include media(tablet) {
        font-size: em(110);
      }

      @include media(biggest) {
        font-size: em(160);
      }

      + p {
        margin-top: 5%;
        line-height: 1.48;
        animation-delay: .2s;
        font-family: $cond-normal;

        @include media(phone) {
          font-size: em(14);
        }

        @include media(tablet) {
          font-size: em(20);
          margin-left: 25%;
        }

        @include media(biggest) {
          font-size: em(22);
          margin-left: 15%;
        }
      }
    }
  }
}

#about-2 {
  background-color: $primary;

  @include media(phone) {
    padding-bottom: 300px;
  }

  @include media(smallest) {
    padding-bottom: 500px;
  }

  &.animate {
    .paragraph {
      p {
        animation: fade-in-up $time-slow forwards;
      }

      p:first-of-type {
        span {
          animation: fade-in-up $time-slow .2s forwards;
        }

        + p {
          animation-delay: .1s;
        }
      }
    }

    .absolute {
      animation: fade-in-up $time-slow .3s forwards;
    }
  }

  .paragraph {
    z-index: 1;

    @include media(phone) {
      margin-top: -75px;
    }

    @include media(smallest) {
      margin-top: 125px;
    }

    @include media(tablet) {
      width: calc(70% - #{$indent-normal});
    }

    @include media(biggest) {
      width: calc(50% - #{$indent-normal});
    }

    p:first-of-type {
      opacity: 0;
      line-height: 1;
      color: $primary;
      position: relative;
      animation-delay: .1s;
      font-family: $cond-bold;
      text-shadow: -1px 0 $dark, 0 1px $dark, 1px 0 $dark, 0 -1px $dark;

      @include media(phone) {
        font-size: em(35);
      }

      @include media(tablet) {
        font-size: em(80);
      }

      @include media(biggest) {
        font-size: em(100);
      }

      span {
        position: absolute;
        color: $dark;
        opacity: 0;

        @include media(phone) {
          display: none;
        }

        @include media(tablet) {
          left: 5px;
          top: 85px;
        }

        @include media(biggest) {
          left: 10px;
          top: 110px;
        }
      }

      + p {
        opacity: 0;
        color: $light;
        font-size: em(20);
        line-height: 1.48;
        font-family: $cond-normal;
        animation-delay: .2s;
        margin-top: 5%;

        @include media(tablet) {
          margin-left: $indent-normal;
          width: 80%;
        }

        @include media(biggest) {
          font-size: em(22);
        }

        span {
          color: $dark;
        }
      }
    }
  }

  .absolute {
    bottom: 0;
    opacity: 0;
    position: absolute;

    @include media(phone) {
      margin: 0 auto;
      height: 400px;
      width: 278px;
      right: 0;
      left: 0;
    }

    @include media(tablet) {
      right: $indent-normal;
      height: 600px;
      width: 30vw;
    }

    @include media(biggest) {
      height: 750px;
    }

    img {
      opacity: 0;
      object-fit: cover;
      position: absolute;
      transition: all .5s linear;

      @include media(phone) {
        height: 400px;
      }

      @include media(tablet) {
        height: 600px;
      }

      @include media(biggest) {
        height: 750px;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}

#about-3 {
  background-color: $light;

  @include media(phone) {
    padding-bottom: 5vh;
    padding-top: 5vh;
  }

  @include media(tablet) {
    padding-bottom: 10vh;
    padding-top: 10vh;
  }

  &.animate {
    .title {
      animation: fade-in-down $time-slow forwards;
    }

    .circle {
      animation: fade-in $time-slow .1s forwards;

      span {
        animation: fade-in $time-slow .2s forwards;
      }
    }

    .small {
      animation: fade-in-right $time-slow .3s forwards;
    }

    .absolute {
      > * {
        animation: fade-in-up $time-slow forwards;
      }

      img {
        &:nth-of-type(1) + div {
          animation-delay: 1s;
        }

        &:nth-of-type(2) {
          animation-delay: .1s;

          + div {
            animation-delay: 1.1s;
          }
        }

        &:nth-of-type(3) {
          animation-delay: .2s;

          + div {
            animation-delay: 1.2s;
          }
        }
      }
    }

    .paragraph {
      p {
        animation: fade-in-up $time-slow forwards;
      }

      p:first-of-type {
        animation-delay: .4s;

        + p {
          animation-delay: .5s;

          + p {
            animation-delay: .6s;
          }
        }
      }
    }
  }

  .title {
    opacity: 0;
    color: $dark;
    font-family: $cond-bold;

    @include media(phone) {
      font-size: em(30);
    }

    @include media(tablet) {
      font-size: em(80);
    }

    @include media(biggest) {
      font-size: em(100);
    }
  }

  .circle {
    opacity: 0;
    position: relative;

    @include media(phone) {
      margin: 5vh 0;
    }

    @include media(tablet) {
      margin-left: calc(0px - #{$padding-normal});
    }

    p {
      @include border-radius(50%);
      font-weight: bold;
      margin: 0 auto;
      color: $dark;
      text-align: center;
      font-family: $cond-normal;
      animation: spin 20s linear infinite;

      @include media(phone) {
        height: 40vh;
        width: 40vh;
      }

      @include media(tablet) {
        height: 70vh;
        width: 70vh;
      }

      span {
        @include inline-block;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        text-transform: uppercase;
        transition: all .5s cubic-bezier(0, 0, 0, 1);

        @include media(phone) {
          font-size: 3vh;
        }

        @include media(tablet) {
          font-size: 5vh;
        }
      }
    }

    > span {
      opacity: 0;
      color: $dark;
      position: absolute;
      width: fit-content;
      font-family: $cond-bold;
      top: calc(50% - 39px);
      margin: 0 auto;
      right: 0;
      left: 0;

      @include media(phone) {
        font-size: em(40);
      }

      @include media(smallest) {
        font-size: em(30);
      }

      @include media(tablet) {
        font-size: em(65);
      }

      @include media(biggest) {
        font-size: em(85);
      }

      &::after {
        content: '';
        background: url('/../images/arrow.png') center no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
        left: 0;

        @include media(phone) {
          margin: 6vh auto 0;
          height: 105px;
          width: 45px;
        }

        @include media(smallest) {
          height: 70px;
          width: 30px;
        }

        @include media(tablet) {
          margin: 10vh auto 0;
          height: 158px;
          width: 68px;
        }
      }
    }
  }

  .small {
    opacity: 0;
    font-size: em(20);
    top: calc(100vh - 144px);
    font-family: $cond-normal;

    @include media(tablet) {
      position: absolute;
      right: $indent-normal;
      width: 27.5%;
    }

    @include media(biggest) {
      font-size: em(22);
    }
  }

  .block {
    position: relative;

    @include media(phone) {
      margin-top: 10vh;
    }

    @include media(tablet) {
      margin-top: 25vh;
      display: flex;
    }

    .paragraph {
      z-index: 1;
      position: relative;

      @include media(phone) {
        margin-top: 5vh;
      }

      @include media(tablet) {
        width: calc(60% - #{$indent-normal});
        margin-top: 15vh;
      }

      @include media(biggest) {
        width: calc(40% - #{$indent-normal});
      }

      > * {
        color: $dark;
      }

      p:first-of-type {
        opacity: 0;
        line-height: 1;
        position: relative;
        font-family: $cond-bold;

        @include media(phone) {
          font-size: em(60);
        }

        @include media(tablet) {
          font-size: em(160);
        }

        @include media(biggest) {
          font-size: em(180);
        }

        span {
          color: $primary;
        }

        + p {
          opacity: 0;
          padding-top: 5%;
          font-size: em(20);
          line-height: 1.48;
          font-family: $cond-normal;

          @include media(phone) {
            width: 100%;
          }

          @include media(tablet) {
            padding-left: $indent-normal;
            width: 80%;
          }

          @include media(biggest) {
            font-size: em(22);
          }

          + p {
            opacity: 0;
            padding-top: 5%;
            font-family: $cond-bold;

            @include media(phone) {
              font-size: em(30);
            }

            @include media(tablet) {
              padding-left: $indent-normal;
              font-size: em(40);
            }

            @include media(biggest) {
              font-size: em(46);
            }

            span {
              color: $dark;
            }
          }
        }
      }
    }

    .absolute {
      position: relative;
      right: 0;

      @include media(phone) {
        margin-top: 5vh;
      }

      @include media(tablet) {
        top: $indent-normal;
        width: 40%;
      }

      @include media(biggest) {
        width: 50%;
      }

      img {
        z-index: 1;
        object-fit: cover;

        @include media(phone) {
          position: initial;
          width: 100%;
        }

        @include media(tablet) {
          position: absolute;
          opacity: 0;
        }

        &:nth-of-type(1) {
          @include media(phone) {
            height: 463px;
          }

          @include media(smallest) {
            height: 356px;
          }

          @include media(tablet) {
            right: $indent-biggest;
            height: 400px;
            width: 325px;
            top: 0;
          }

          @include media(biggest) {
            height: 615px;
            width: 500px;
          }

          + div {
            height: 15%;
            width: 28%;
            top: -2.5%;
            right: 15%;

            @include media(biggest) {
              width: 20%;
              right: 5%;
            }
          }
        }

        &:nth-of-type(2) {
          @include media(tablet) {
            height: 200px;
            width: 200px;
            right: 37.5%;
            top: 42.5vh;
          }

          @include media(biggest) {
            height: 300px;
            width: 300px;
            right: 30%;
            top: 55vh;
          }

          + div {
            height: 25%;
            width: 65%;
            top: 15%;

            @include media(biggest) {
              width: 40%;
              right: 15%;
              top: 20%;
            }
          }
        }

        &:nth-of-type(3) {
          @include media(tablet) {
            height: 190px;
            width: 220px;
            top: 40vh;
            right: 0;
          }

          @include media(biggest) {
            height: 340px;
            width: 395px;
            top: 45vh;
          }

          + div {
            height: 20%;
            width: 50%;
            right: 5%;
            top: 35%;

            @include media(biggest) {
              right: -2.5%;
              width: 10%;
              top: 30%;
            }
          }
        }

        + div {
          background-color: $primary;
          position: absolute;
          opacity: 0;

          @include media(phone) {
            display: none;
          }
        }
      }

      .swiper-wrapper {
        @include media(phone) {
          padding-bottom: 5vh;
        }

        @include media(smallest) {
          padding-bottom: 7.5vh;
        }
      }
    }
  }
}

#about-4 {
  background-color: $secondary;

  &.animate {
    .sup,
    .title-above-table {
      animation: fade-in-up $time-slow forwards;
    }

    .title-above-table {
      animation-delay: .1s;
    }

    table tr {
      animation: fade-in-up $time-slow forwards;

      &:nth-of-type(1) {
        animation-delay: .2s;
      }

      &:nth-of-type(2) {
        animation-delay: .3s;
      }
    }
  }

  table tr {
    border-top: 1px solid $primary;

    &:last-of-type {
      border-bottom: 1px solid $primary;
    }

    td {
      color: $primary;

      &:last-of-type a {
        color: $primary;

        @include media(phone) {
          color: $secondary;
        }
      }
    }
  }

  > * {
    color: $primary;
  }

  .sup {
    font-family: $cond-light;
    opacity: 0;

    @include media(phone) {
      margin-left: $indent-phone;
      font-size: em(20);
    }

    @include media(tablet) {
      font-size: em(64);
    }
  }
}
