#blog section {
  background-color: $secondary;

  &.animate {
    .title,
    .paragraph > * {
      animation: fade-in $time-slow forwards;
    }

    .title {
      animation-delay: .5s;
    }

    .absolute {
      $absolute: 3;

      > * {
        animation: fade-in-up $time-slow forwards;
      }

      @for $i from 1 through $absolute {
        &--#{$i} {
          img {
            animation-delay: .5s * $i;
          }

          div {
            animation-delay: 1s * $i;
          }
        }
      }
    }

    .paragraph {
      $paragraph: 3;

      @for $i from 1 through $paragraph {
        &--#{$i} {
          p {
            animation-delay: .6s * $i;
          }

          a {
            animation-delay: .7s * $i;
          }
        }
      }
    }
  }

  .block {
    position: relative;

    @include media(phone) {
      padding-bottom: 5vh;
    }

    @include media(tablet) {
      padding-bottom: 20vh;
      display: flex;
    }

    @include media(biggest) {
      padding-bottom: 10vh;
    }

    .absolute {
      position: relative;
      display: block;


      > * {
        opacity: 0;
      }

      div {
        background-color: $primary;
        position: absolute;
        z-index: 0;
      }
    }

    .paragraph {
      @include media(tablet) {
        position: absolute;
      }

      > * {
        opacity: 0;
      }

      p {
        color: $primary;
        font-family: $cond-light;
      }
    }
  }
}

#blog-1 {
  @include media(phone) {
    padding-top: 17.5vh;
  }

  .circle {
    p {
      color: $light;
    }

    a {
      background: url('/../images/mouse-light.svg') center no-repeat;
      background-size: 30%;
    }
  }

  .title {
    top: 15vh;
    opacity: 0;
    z-index: 1;
    color: $primary;
    position: absolute;
    font-family: $cond-bold;

    @include media(phone) {
      font-size: em(60);
      right: 30vw;
      top: 7.5vh;
    }

    @include media(tablet) {
      font-size: em(150);
      right: 20vw;
    }

    @include media(desktop) {
      right: 30vw;
    }

    @include media(biggest) {
      right: 40vw;
    }
  }

  .block {
    .absolute {
      @include media(phone) {
        padding-bottom: 2.5vh;
        padding-top: 2.5vh;
        height: 462px;
        width: 330px;
      }

      @include media(smallest) {
        height: 357px;
        width: 255px;
      }

      @include media(tablet) {
        margin-left: $indent-normal;
        height: 598px;
        width: 400px;
      }

      @include media(desktop) {
        height: 890px;
        width: 595px;
      }

      @include media(biggest) {
        margin-left: $indent-biggest;
        height: 1128px;
        width: 754px;
      }

      div {
        height: 35%;
        width: 80%;
        left: 30%;

        @include media(phone) {
          top: 0;
        }

        @include media(tablet) {
          top: 72%;
        }
      }
    }

    .paragraph {
      @include media(tablet) {
        width: calc(40% - #{$indent-normal});
        right: 5.5vw;
        top: 45vh;
      }

      @include media(biggest) {
        right: 10vw;
      }

      p {
        @include media(phone) {
          font-size: em(25);
          width: 255px;
        }

        @include media(tablet) {
          font-size: em(40);
        }

        @include media(biggest) {
          font-size: em(60);
        }
      }

      a {
        @include transition($time-fast);
        font-family: $cond-bold;
        font-size: em(18);

        @include media(phone) {
          @include inline-block;
          margin-top: 2.5vh;
        }

        @include media(tablet) {
          margin-top: 5vh;
          color: $primary;
          float: left;
        }

        &:hover {
          color: $light;
        }
      }
    }
  }
}

#blog-2,
#blog-3,
#blog-4 {
  .absolute {
    @include media(phone) {
      padding-top: 2.5vh;
    }

    &--1 {
      @include media(phone) {
        padding-bottom: 5vh;
        width: 330px;
      }

      @include media(smallest) {
        width: 290px;
      }

      @include media(tablet) {
        margin-right: $indent-normal;
        margin-left: auto;
      }

      @include media(biggest) {
        margin-right: $indent-biggest;
      }

      div {
        @include media(phone) {
          height: 15%;
          bottom: 5%;
          right: 10%;
          width: 50%;
        }

        @include media(tablet) {
          height: 50%;
          width: 80%;
          right: 30%;
          top: 65%;
        }
      }
    }

    &--2 {
      @include media(phone) {
        padding-bottom: 2.5vh;
        width: 325px;
      }

      @include media(smalest) {
        width: 284px;
      }

      @include media(tablet) {
        margin-top: 10vh;
      }

      div {
        left: 35%;
        width: 80%;

        @include media(phone) {
          bottom: 30%;
          height: 70%;
        }

        @include media(tablet) {
          height: 50%;
          bottom: 65%;
        }
      }
    }
  }

  .paragraph {
    @include media(tablet) {
      width: calc(40% - #{$indent-normal});
    }

    p {
      @include media(phone) {
        font-size: em(25);
        width: 255px;
      }

      @include media(tablet) {
        font-size: em(40);
      }

      @include media(biggest) {
        font-size: em(60);
      }
    }

    a {
      @include transition($time-fast);
      font-family: $cond-bold;
      font-size: em(18);

      @include media(phone) {
        @include inline-block;
        margin-top: 2.5vh;
      }

      @include media(tablet) {
        margin-top: 5vh;
        color: $primary;
        float: left;
      }

      &:hover {
        color: $light;
      }
    }
  }
}

#blog-2 {
  .absolute {
    &--1 {
      @include media(phone) {
        height: 332px;
      }

      @include media(smallest) {
        height: 292px;
      }

      @include media(tablet) {
        height: 510px;
        width: 506px;
      }

      @include media(biggest) {
        height: 570px;
        width: 566px;
      }
    }

    &--2 {
      @include media(phone) {
        height: 332px;
      }

      @include media(smallest) {
        height: 290px;
        width: 284px;
      }

      @include media(tablet) {
        height: 460px;
        width: 450px;
      }

      @include media(biggest) {
        height: 526px;
        width: 515px;
      }
    }
  }

  .paragraph {
    &--1 {
      @include media(tablet) {
        top: 20vh;
        left: 0;
      }

      @include media(desktop) {
        left: 5vw;
        top: 30vh;
      }

      @include media(biggest) {
        left: 32.5vw;
        top: 20vh;
      }
    }

    &--2 {
      @include media(tablet) {
        left: 47.5vw;
        top: 32.5vh;
      }

      @include media(desktop) {
        left: 40vw;
        top: 20vh;
      }

      @include media(biggest) {
        left: 25vw;
      }
    }
  }
}

#blog-3 {
  .absolute {
    &--1 {
      @include media(phone) {
        height: 220px;
      }

      @include media(smallest) {
        height: 193px;
      }

      @include media(tablet) {
        height: 372px;
        width: 558px;
      }
    }

    &--2 {
      @include media(phone) {
        height: 216px;
      }

      @include media(smallest) {
        height: 189px;
      }

      @include media(tablet) {
        height: 391px;
        width: 588px;
      }
    }
  }

  .paragraph {
    &--1 {
      @include media(tablet) {
        top: 5vh;
        left: 0;
      }

      @include media(desktop) {
        left: 10vw;
        top: 20vh;
      }

      @include media(biggest) {
        left: 27.5vw;
        top: 10vh;
      }
    }

    &--2 {
      @include media(tablet) {
        left: 55vw;
        top: 35vh;
      }

      @include media(desktop) {
        left: 45vw;
      }

      @include media(biggest) {
        left: 25vw;
        top: 25vh;
      }
    }
  }
}

#blog-4 {
  .absolute {
    @include media(phone) {
      height: 220px;
    }

    @include media(smallest) {
      height: 193px;
    }

    @include media(tablet) {
      height: 334px;
      width: 500px;
    }

    @include media(desktop) {
      height: 465px;
      width: 697px;
    }
  }

  .paragraph {
    @include media(tablet) {
      top: 5vh;
    }

    @include media(desktop) {
      top: 25vh;
      left: 0;
    }

    @include media(biggest) {
      left: 30vw;
      top: 12.5vh;
    }
  }
}
