#courses-1 {
  background-color: $light;

  .circle {
    p {
      color: $light;

      @include media(biggest) {
        color: $primary;
      }
    }

    a {
      background: url('/../images/mouse-light.svg') center no-repeat;
      background-size: 30%;

      @include media(biggest) {
        background: url('/../images/mouse-primary.svg') center no-repeat;
        background-size: 30%;
      }
    }
  }

  .photo {
    background: url('/../images/courses-1.jpg') no-repeat;
    width: calc(100% - #{$padding-normal});
    background-position: 100% 0;
    background-size: cover;
    position: absolute;
    height: 100%;
    z-index: 1;
    opacity: 0;
    right: 0;

    @include media(phone) {
      animation: fade-in-up $time-slow forwards;
      background-size: contain;
      width: 100vw;
      top: 30vh;
    }

    @include media(smallest) {
      top: 37vh;
    }

    @include media(tablet) {
      animation: fade-in-right $time-slow forwards;
    }

    @include media(biggest) {
      background-size: contain;
      max-width: 1650px;
    }
  }

  .paragraph {
    z-index: 1;
    position: absolute;

    @include media(phone) {
      bottom: $indent-phone;
      left: $indent-phone;
      width: 60%;
    }

    @include media(smallest) {
      width: 80%;
    }

    @include media(tablet) {
      left: calc(#{$padding-normal} + #{$indent-normal});
      width: calc(40% - #{$indent-normal});
      bottom: 30vh;
    }

    p {
      opacity: 0;
      line-height: 1;
      color: $primary;
      animation-delay: .1s;
      font-family: $cond-bold;
      animation: fade-in-right $time-slow forwards;

      @include media(phone) {
        font-size: em(40);
      }

      @include media(tablet) {
        font-size: em(90);
      }

      @include media(biggest) {
        font-size: em(160);
      }
    }
  }
}

#courses-2 {
  background-color: $secondary;

  &.animate {
    .text p,
    .info p,
    .youtube-player {
      animation: fade-in-up $time-slow forwards;
    }

    .text {
      .title + p {
        animation-delay: .1s;
      }
    }

    .youtube-player {
      animation-delay: .2s;
    }

    .info {
      .title {
        animation-delay: .3s;

        + p {
          animation-delay: .4s;
        }
      }

      img {
        animation: fade-in-right $time-slow .5s forwards;
      }

      $paragraph: 4;
      @for $i from 1 through $paragraph {
        div p:nth-of-type(#{$i}) {
          animation: fade-in-left $time-slow .5s * $i forwards;
        }
      }
    }
  }

  .text {
    @include media(tablet) {
      width: calc(100% - #{$padding-normal});
      padding: 10vh 0;
    }

    @include media(biggest) {
      width: calc(100% - #{$padding-biggest} * 2);
      margin-left: 0;
    }
  }

  .info {
    @include media(phone) {
      padding-top: 5vh;
    }

    @include media(tablet) {
      padding-top: 20vh;
    }

    @include media(biggest) {
      margin-left: $padding-biggest;
    }

    p {
      opacity: 0;
      font-family: $cond-bold;

      &.title {
        text-transform: uppercase;
        color: $light;

        @include media(phone) {
          font-size: em(60);
        }

        @include media(smallest) {
          font-size: em(40);
        }

        @include media(tablet) {
          font-size: em(140);
        }

        + p {
          line-height: 1;
          color: $primary;

          @include media(phone) {
            font-size: em(30);
          }

          @include media(smallest) {
            font-size: em(25);
          }

          @include media(tablet) {
            font-size: em(60);
          }
        }
      }
    }

    div {
      z-index: 0;
      width: fit-content;
      position: relative;
      transform: rotate(-5deg);

      @include media(phone) {
        padding: 5vh 0;
      }

      @include media(tablet) {
        padding: 5vh 0 10vh;
      }

      + p {
        font-family: $cond-light;
        padding-bottom: 10vh;
        line-height: 1.48;
        color: $primary;

        @include media(phone) {
          padding-left: 5vw;
          font-size: em(25);
        }

        @include media(smallest) {
          font-size: em(20);
        }

        @include media(tablet) {
          padding-left: 10vw;
          font-size: em(30);
          width: 50vw;
        }
      }

      p {
        color: $light;
        text-transform: uppercase;

        @include media(phone) {
          font-size: em(45);
        }

        @include media(tablet) {
          font-size: em(100);
        }
      }

      img {
        z-index: -1;
        opacity: 0;

        @include media(phone) {
          width: 90%;
        }

        @include media(tablet) {
          position: absolute;
          right: -19vw;
          top: -10vh;
        }
      }
    }
  }
}

#courses-3 {
  &.animate {
    .absolute {
      canvas,
      div {
        animation: fade-in-up $time-slow forwards;
      }

      div {
        animation-delay: 1s;
      }
    }

    .title span {
      span {
        transition: transform 1s cubic-bezier(0, 0, .2, 1), opacity 1s cubic-bezier(0, 0, .2, 1);
        transform: translateZ(0);
        opacity: 1;
      }

      &:nth-of-type(2) span {
        transition-delay: .2s;
      }

      &:nth-of-type(3) span {
        transition-delay: .4s;
      }

      &:nth-of-type(4) span {
        transition-delay: .6s;
      }
    }

    .paragraph {
      > * {
        animation: fade-in-up $time-slow forwards;
      }

      p {
        animation-delay: .8s;
      }
    }
  }

  .absolute {
    position: absolute;
    display: block;
    z-index: -1;

    @include media(phone) {
      right: $indent-phone * 2;
      top: $indent-phone * 2;
      height: 255px;
      width: 180px;
    }

    @include media(smallest) {
      right: $indent-phone;
      top: $indent-phone;
      height: 170px;
      width: 120px;
    }

    @include media(tablet) {
      height: 575px;
      width: 405px;
      right: 10vw;
      top: 15vh;
    }

    @include media(biggest) {
      right: $padding-biggest;
      top: $padding-biggest;
      height: 766px;
      width: 540px;
    }

    > * {
      opacity: 0;
    }
  }

  .title {
    line-height: 1;
    font-family: $cond-bold;
    text-transform: uppercase;

    @include media(phone) {
      font-size: em(55);
      margin-top: 25vh;
    }

    @include media(smallest) {
      font-size: em(45);
    }

    @include media(tablet) {
      font-size: em(125);
      width: 60%;
    }

    @include media(biggest) {
      font-size: em(195);
      width: 50%;
    }

    span {
      display: inline-flex;
      overflow: hidden;

      &:first-child span {
        color: $primary;
      }

      span {
        transition: transform .2s cubic-bezier(.4, 0, 1, 1), opacity .2s cubic-bezier(.4, 0, 1, 1);
        transform: translate3d(0, 100%, 0);
        display: block;
        opacity: 0;
      }
    }
  }

  .paragraph {
    right: $indent-normal;
    bottom: $indent-normal;

    @include media(tablet) {
      width: 47.5%;
    }

    @include media(biggest) {
      bottom: $indent-biggest;
      right: $indent-biggest;
    }

    > * {
      opacity: 0;
    }

    p {
      line-height: 1.48;

      @include media(phone) {
        margin-top: 2.5vh;
        font-size: em(18);
      }

      @include media(smallest) {
        font-size: em(14);
      }

      @include media(tablet) {
        font-size: em(24);
      }
    }
  }
}

#courses-4 {
  background-color: $primary;

  @include media(phone) {
    padding-bottom: 5vh;
    padding-top: 5vh;
  }

  @include media(tablet) {
    padding-bottom: 10vh;
    padding-top: 10vh;
  }

  &.animate {
    .circle {
      animation: fade-in $time-slow forwards;

      span {
        animation: fade-in $time-slow .1s forwards;

        + span {
          animation-delay: .2s;
        }
      }
    }
  }

  .circle {
    opacity: 0;
    position: relative;

    @include media(tablet) {
      margin-left: calc(0px - #{$padding-normal} / 2);
    }

    p {
      @include border-radius(50%);
      font-weight: bold;
      margin: 0 auto;
      color: $light;
      text-align: center;
      font-family: $cond-normal;
      animation: spin 20s linear infinite;

      @include media(phone) {
        height: 40vh;
        width: 40vh;
      }

      @include media(tablet) {
        height: 80vh;
        width: 80vh;
      }

      span {
        @include inline-block;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        text-transform: uppercase;
        transition: all .5s cubic-bezier(0, 0, 0, 1);

        @include media(phone) {
          font-size: 3vh;
        }

        @include media(tablet) {
          font-size: 5vh;
        }
      }
    }

    > span {
      opacity: 0;
      color: $light;
      position: absolute;
      width: fit-content;
      text-transform: uppercase;
      font-family: $cond-bold;
      margin: 0 auto;
      right: 0;
      left: 0;

      @include media(phone) {
        font-size: em(40);
        top: 25%;
      }

      @include media(smallest) {
        font-size: em(30);
        top: 24%;
      }

      @include media(tablet) {
        font-size: em(85);
        top: 30%;
      }

      @include media(biggest) {
        font-size: em(110);
        top: 30%;
      }

      + span {
        text-transform: none;
        font-family: $cond-normal;

        @include media(phone) {
          position: relative;
          font-size: em(18);
          margin-top: 10vh;
          display: block;
          width: 100%;
        }

        @include media(smallest) {
          font-size: em(16);
        }

        @include media(tablet) {
          font-size: em(18);
          width: 27.5%;
          top: 47.5%;
        }

        @include media(biggest) {
          font-size: em(25);
          width: 17.5%;
          top: 50%;
        }
      }
    }
  }
}
