* {
  --logotype-width: 175px;
}

::selection {
  background: $primary;
  color: $light;
}

#logo {
  position: fixed;
  z-index: 2;
  opacity: 0;

  @include media(phone) {
    left: $indent-phone;
    top: $indent-phone;
  }

  @include media(tablet) {
    left: $indent-normal;
    top: $indent-normal;
  }

  &.animate-in {
    animation: fade-in-down $time-slow forwards;
  }

  &.animate-out-up {
    animation: fade-in-down-reverse $time-fast forwards;
  }

  &.animate-out-down {
    animation: fade-out $time-fast forwards;
  }

  &.big {
    &.primary {
      @include image-retina('/../images/logo-big-primary.png', '/../images/logo-big-primary-2x.png');
    }

    &.light {
      @include image-retina('/../images/logo-big-light.png', '/../images/logo-big-light-2x.png');
    }

    &.dark {
      @include image-retina('/../images/logo-big-dark.png', '/../images/logo-big-dark-2x.png');
    }
  }

  &.small {
    &.light {
      @include image-retina('/../images/logo-small-light.png', '/../images/logo-small-light-2x.png');
    }

    &.dark {
      @include image-retina('/../images/logo-small-dark.png', '/../images/logo-small-dark-2x.png');
    }
  }
}

#nav {
  opacity: 0;
  width: 40px;
  position: fixed;
  top: $indent-phone;
  right: $indent-phone;

  @include media(tablet) {
    display: none;
  }

  &.animate-in {
    animation: fade-in-down $time-slow forwards;
  }

  &.animate-out-up {
    animation: fade-in-down-reverse $time-fast forwards;
  }

  &.animate-out-down {
    animation: fade-out $time-fast forwards;
  }

  &.light {
    z-index: 3;

    div,
    &::after,
    &::before {
      background-color: $light;
    }
  }

  &.dark {
    z-index: 3;

    div,
    &::after,
    &::before {
      background-color: $dark;
    }
  }

  &.primary {
    z-index: 3;

    div,
    &::after,
    &::before {
      background-color: $primary;
    }
  }

  &.click {
    div {
      transform: scale(0);
    }

    &::after {
      transform: translateY(-12px) rotate(-135deg);
    }

    &::before {
      transform: translateY(12px) rotate(135deg);
    }
  }

  div,
  &::after,
  &::before {
    content: '';
    height: 5px;
    display: block;
    transition: all .2s ease-in-out;
  }

  div {
    margin: 7px 0;
  }

  &::after {
    margin-top: 7px;
  }

  &::before {
    margin-bottom: 7px;
  }
}

#menu {
  left: $indent-normal;
  position: fixed;
  z-index: 2;
  opacity: 0;

  @include media(phone) {
    align-items: center;
    display: none;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;

    &.opened {
      display: flex;
    }
  }

  @include media(tablet) {
    top: calc(50% - var(--menu-height) / 3);
  }

  @include media(desktop) {
    top: calc(50% - var(--menu-height) / 2);
  }

  &.animate-in {
    @include media(phone) {
      animation: fade-in $time-fast forwards;
    }

    @include media(tablet) {
      animation: fade-in-left $time-slow forwards;
    }
  }

  &.animate-out-up,
  &.animate-out-down {
    animation: fade-in-left-reverse $time-fast forwards;
  }

  &.primary {
    @include media(phone) {
      background: $primary;
    }

    a {
      color: $light;

      &:hover,
      &.active {
        color: $dark;
      }
    }
  }

  &.secondary {
    @include media(phone) {
      background: $secondary;
    }

    a {
      color: $light;

      &:hover,
      &.active {
        color: $primary;
      }
    }
  }

  &.light {
    @include media(phone) {
      background: $light;
    }

    a {
      color: $dark;

      &:hover,
      &.active {
        color: $primary;
      }
    }
  }

  ul {
    @include media(phone) {
      margin: 0 auto 12.5vh;
    }

    @include media(smallest) {
      margin: 0 auto 10vh;
    }

    li {
      @include media(phone) {
        align-items: center;
        min-height: 85px;
        display: flex;
      }

      @include media(smallest) {
        min-height: 60px;
      }

      @include media(tablet) {
        min-height: 40px;
      }

      a {
        @include transition($time-fast);
        text-transform: uppercase;
        font-family: $cond-light;
        font-size: em(20);

        @include media(phone) {
          font-size: em(55);
        }

        @include media(smallest) {
          font-size: em(40);
        }

        @include media(tablet) {
          &:hover,
          &.active {
            font-size: em(24);
            font-family: $cond-bold;
          }
        }
      }
    }
  }
}

#footer {
  justify-content: space-between;
  border-top: 1px solid $primary;
  background-color: $secondary;
  align-items: center;
  display: flex;

  @include media(phone) {
    margin-left: -$indent-phone;
    margin-top: 5vh;
    padding: 15px;
    width: 100%;
  }

  @include media(tablet) {
    width: calc(100% - 60px + #{$padding-normal});
    margin-left: calc(0px - #{$padding-normal});
    margin-top: 10vh;
    padding: 30px;
  }

  @include media(biggest) {
    width: calc(100% - 60px + #{$padding-biggest});
    margin-left: calc(0px - #{$padding-biggest});
  }

  > * {
    @include media(phone) {
      font-size: em(16);
    }

    @include media(tablet) {
      font-size: em(18);
    }

    @include media(biggest) {
      font-size: em(20);
    }
  }

  p {
    color: $primary;
    font-family: $cond-normal;

    a {
      color: $primary;
      font-family: $cond-bold;
    }
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      background: url('../images/logo-light.svg') no-repeat;
      display: flex;
      width: 100px;
      height: 43px;
    }
  }
}

%form {
  background-color: $secondary;

  &.animate {
    span,
    form,
    .title {
      animation: fade-in-up $time-slow forwards;
    }

    span {
      animation-delay: .1s;
    }

    form {
      animation-delay: .2s;
    }
  }

  form {
    opacity: 0;
    display: grid;
    margin-top: 10vh;

    @include media(phone) {
      margin-right: $indent-phone;
    }

    @include media(tablet) {
      margin-right: $indent-normal;
    }

    @include media(tablet) {
      margin-right: $indent-biggest;
    }

    input {
      border: 0;
      width: 100%;
      color: $light;
      outline: none;
      border-radius: 0;
      margin-bottom: 10vh;
      font-family: $cond-light;
      background-color: transparent;
      border-bottom: 1px solid $primary;

      @include media(phone) {
        font-size: em(20);
      }

      @include media(tablet) {
        font-size: em(20);
      }

      @include media(biggest) {
        font-size: em(25);
      }
    }

    button {
      @include transition($time-fast);
      background-color: $primary;
      text-transform: uppercase;
      font-family: $cond-bold;
      padding: 10px 20px 5px;
      font-family: $bold;
      color: $secondary;
      outline: none;
      border: 0;

      @include media(phone) {
        margin-left: auto;
        font-size: em(20);
        width: 150px;
      }

      @include media(tablet) {
        font-size: em(25);
        margin: 0 auto;
        width: 200px;
      }

      &:focus,
      &:hover {
        color: $primary;
        background-color: $light;
      }
    }
  }

  span {
    opacity: 0;
    color: $light;
    display: block;
    font-family: $cond-light;

    @include media(phone) {
      font-size: em(22);
    }

    @include media(smallest) {
      font-size: em(18);
    }

    @include media(tablet) {
      font-size: em(25);
    }

    @include media(biggest) {
      font-size: em(30);
    }
  }

  .title {
    text-transform: uppercase;
    font-family: $cond-light;
    color: $primary;
    opacity: 0;

    @include media(phone) {
      font-size: em(60);
    }

    @include media(smallest) {
      font-size: em(40);
    }

    @include media(tablet) {
      font-size: em(90);
    }

    @include media(desktop) {
      font-size: em(120);
    }

    @include media(biggest) {
      font-size: em(140);
    }
  }
}

.turn {
  background: url('/../images/turn.png') center no-repeat;
  background-color: $dark;
  background-size: cover;
  position: fixed;
  display: none;
  z-index: 9999;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  &.on {
    display: block;
  }
}

.component {
  float: left;
  position: relative;

  @include media(phone) {
    width: 55vw;
  }

  @include media(smallest) {
    width: 100%;
  }

  @include media(tablet) {
    width: 30vw;
  }

  @include media(biggest) {
    width: 25vw;
  }

  &:not(:first-of-type) {
    @include media(phone) {
      margin-top: 5vh;
    }

    @include media(tablet) {
      margin-top: 10vh;
    }
  }

  p {
    opacity: 0;
    line-height: 1;
    font-family: $cond-bold;
    text-transform: uppercase;

    @include media(phone) {
      font-size: em(20);
    }

    @include media(tablet) {
      font-size: em(25);
    }

    @include media(biggest) {
      font-size: em(28);
    }

    &.big {
      @include media(phone) {
        font-size: em(28);
      }

      @include media(smallest) {
        font-size: em(24);
      }

      @include media(tablet) {
        font-size: em(35);
      }

      @include media(biggest) {
        font-size: em(40);
      }
    }
  }

  > span {
    opacity: 0;
    display: block;
    margin-top: 2vh;
    line-height: 1.48;

    @include media(phone) {
      font-size: em(13);
    }

    @include media(tablet) {
      font-size: em(15);
    }

    @include media(desktop) {
      font-size: em(18);
    }

    @include media(biggest) {
      font-size: em(22);
    }
  }

  &--right {
    float: right;

    @include media(biggest) {
      margin-right: calc(#{$padding-biggest} * 2);
    }
  }
}

.arrow {
  display: inline-flex;

  span {
    opacity: 0;

    @include media(phone) {
      height: 105px;
      width: 45px;
    }

    @include media(smallest) {
      height: 70px;
      width: 30px;
    }

    @include media(tablet) {
      height: 158px;
      width: 68px;
    }

    &:not(:last-of-type) {
      @include media(phone) {
        margin-right: 3vw;
      }

      @include media(tablet) {
        margin-right: 1vw;
      }
    }
  }

  &.dark {
    span {
      background: url('/../images/arrow-dark.png') center repeat;
      background-size: cover;
    }
  }

  &.primary {
    span {
      background: url('/../images/arrow-primary.png') center repeat;
      background-size: cover;
    }
  }

  &.light {
    span {
      background: url('/../images/arrow.png') center repeat;
      background-size: cover;
    }
  }

  &--right {
    margin-top: 10vh;
    margin-left: 10vw;
    transform: rotate(-90deg);

    @include media(phone) {
      display: none;
    }
  }

  &--bottom {
    float: right;

    @include media(phone) {
      margin-top: 5vh;
    }

    @include media(tablet) {
      margin-right: 5vw;
    }

    @include media(desktop) {
      margin-right: 8vw;
    }

    @include media(biggest) {
      margin-right: calc(#{$padding-biggest} * 2 + 8vw);
    }
  }
}

.item {
  opacity: 0;
  overflow: hidden;
  text-align: left;

  @include media(phone) {
    width: 100%;
    padding: $indent-phone;
    margin-left: -$indent-phone;
  }

  @include media(tablet) {
    margin-right: $padding-normal;
    padding: 30px 0;
  }

  @include media(biggest) {
    margin-right: $padding-biggest;
  }

  &:first-of-type {
    padding-top: 10vh;

    @include media(smallest) {
      padding-top: 5vh;
    }
  }

  &:last-of-type {
    padding-bottom: 10vh;

    @include media(smallest) {
      padding-bottom: 5vh;
    }
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid;
  }

  p {
    @include transition($time-fast);
    text-transform: uppercase;
    font-family: $cond-bold;
    position: relative;
    cursor: pointer;

    @include media(phone) {
      font-size: em(30);
    }

    @include media(smallest) {
      font-size: em(20);
    }

    @include media(tablet) {
      font-size: em(27);
    }

    @include media(desktop) {
      font-size: em(37);
    }

    @include media(biggest) {
      font-size: em(50);
    }

    &:focus,
    &:hover,
    &.selected {
      color: $light;
    }

    &.small {
      @include media(tablet) {
        font-size: em(28);
      }

      @include media(biggest) {
        font-size: em(50);
      }
    }
  }

  div {
    font-size: em(18);
    line-height: 1.48;
    padding: 1.5vh 0 3vh;
    font-family: $cond-light;

    @include media(smallest) {
      font-size: em(16);
    }

    @include media(biggest) {
      padding: 3vh 0 4vh;
      font-size: em(22);
    }

    ul li {
      padding-left: 20px;
      position: relative;

      @include media(phone) {
        padding-left: 15px;
      }

      &::before {
        position: absolute;
        content: '\2022';
        left: 0;
      }
    }
  }
}

.youtube-player {
  position: relative;
  opacity: 0;

  @include media(phone) {
    margin-left: -$indent-phone;
    width: calc(100% + #{$indent-phone} * 2);
  }

  @include media(tablet) {
    width: calc(100% - #{$padding-normal});
  }

  @include media(biggest) {
    width: calc(100% - #{$padding-biggest});
  }

  img {
    width: 100%;
  }

  &.pristine {
    &:hover::after {
      opacity: 1;
    }

    &:before {
      height: 0;
      width: 0;
      top: 50%;
      left: 50%;
      z-index: 1;
      content: '';
      margin-left: 4px;
      position: absolute;
      border-left: 35px solid $dark;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      transform: translate(-50%, -50%);
    }

    &:after {
      @include border-radius(100%);
      @include inline-block;
      top: 50%;
      left: 50%;
      margin: 0;
      border: 0;
      outline: 0;
      padding: 0;
      width: 90px;
      height: 90px;
      box-shadow: none;
      position: absolute;
      transform: translate(-50%, -50%);
      background: rgba(253, 149, 158, .7);
      transition: opacity $time-fast ease;
      text-decoration: none;
      content: '';
    }
  }
}

%horizontal-list,
.horizontal-list {
  font-family: $cond-bold;
  line-height: 1.48;
  margin-top: 5vh;
  color: $dark;

  @include media(smallest) {
    font-size: em(14);
  }

  @include media(tablet) {
    font-size: em(20);
  }

  @include media(desktop) {
    font-size: em(24);
  }

  @include media(biggest) {
    font-size: em(32);
  }

  p {
    opacity: 0;
  }

  span {
    @include inline-block;
    @include image-retina('/../images/arrow-small.png', '/../images/arrow-small-2x.png');
    background-size: cover;
    margin: 0 5px;
  }

  &.grid {
    @include media(phone) {
      margin: 5vh 5vw 5vh auto;
      width: fit-content;

      p {
        font-family: $cond-light;
        font-size: em(23);
        display: grid;

        span {
          height: 0;
          visibility: hidden;
        }
      }
    }
  }
}

.round {
  @include inline-block;
  @include border-radius(100%);
  background-color: $dark;
  font-family: $cond-bold;
  display: inline-grid;
  align-items: center;
  text-align: center;
  position: absolute;
  color: $primary;
  opacity: 0;

  @include media(phone) {
    font-size: em(30);
    height: 200px;
    width: 200px;
  }

  @include media(smallest) {
    font-size: em(20);
    height: 140px;
    width: 140px;
  }

  @include media(tablet) {
    font-size: em(30);
    height: 250px;
    width: 250px;
  }

  @include media(biggest) {
    font-size: em(80);
    height: 550px;
    width: 550px;
  }
}

.text {
  @include media(phone) {
    padding: 5vh 0;
  }

  @include media(tablet) {
    width: calc(100% - #{$indent-normal});
    padding: 15vh 0;
  }

  @include media(biggest) {
    width: calc(100% - #{$indent-biggest} - #{$padding-biggest});
    margin-left: $padding-biggest;
  }

  > p,
  > h2 {
    opacity: 0;
    color: $dark;

    &.title {
      line-height: 1;
      position: relative;
      font-family: $cond-bold;
      text-transform: uppercase;

      @include media(phone) {
        font-size: em(26);
      }

      @include media(smallest) {
        font-size: em(20);
      }

      @include media(tablet) {
        font-size: em(55);
      }

      @include media(biggest) {
        font-size: em(80);
      }

      &:not(:first-of-type) {
        padding-top: 10vh;

        @include media(phone) {
          padding-top: 5vh;
        }
      }
    }
  }

  ul li,
  p:not(.title) {
    line-height: 1.48;
    color: $dark;
    opacity: 0;

    @include media(phone) {
      margin-top: 2.5vh;
    }

    @include media(smallest) {
      font-size: em(14);
    }

    @include media(tablet) {
      font-size: em(20);
      margin-top: 5vh;
    }

    @include media(biggest) {
      margin-top: 2.5vh;
      font-size: em(24);
    }
  }

  ul li {
    padding-left: 30px;
    position: relative;

    @include media(phone) {
      padding-left: 15px;
    }

    &::before {
      position: absolute;
      content: '\2022';
      color: $primary;
      left: 0;
    }
  }

  &--light {
    > p,
    > h2 {
      color: $light;

      &.title {
        color: $primary;
      }
    }
  }
}

.link {
  @include media(phone) {
    background-color: $primary;
    padding: 4px 12px 2px;
    font-family: $bold;
    color: $secondary;
  }
}

.cursor {
  @include media(phone) {
    display: none;
  }

  @include media(laptop) {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
  }

  &--small {
    top: -2.5px;
    left: -2.5px;
    z-index: 11000;
    background: $light;
    border-radius: 50%;
    height: 5px;
    width: 5px;
  }

  &--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
  }
}

.circle {
  position: absolute;
  opacity: 0;

  p {
    @include border-radius(50%);
    animation: spin 20s linear infinite;
    font-family: $cond-normal;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;

    @include media(phone) {
      height: 85px;
      width: 85px;
    }

    @include media(tablet) {
      height: 125px;
      width: 125px;
    }

    span {
      @include inline-block;
      transition: all .5s cubic-bezier(0, 0, 0, 1);
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;

      @include media(phone) {
        font-size: em(10);
      }
    }
  }

  a {
    animation: bounce $time-slow linear infinite;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
  }

  &#scroll {
    animation: fade-in $time-slow forwards;
    z-index: 99;

    @include media(phone) {
      display: none;
    }

    @include media(tablet) {
      top: calc(100vh - 125px - #{$indent-normal});
      right: $indent-normal;
    }
  }
}

.hover {
  img {
    display: none;
  }

  canvas {
    max-height: 100%;
  }
}

.title-above-table {
  text-transform: uppercase;
  font-family: $cond-light;
  opacity: 0;

  @include media(phone) {
    margin-left: $indent-phone;
    font-size: em(60);
  }

  @include media(smallest) {
    font-size: em(40);
  }

  @include media(tablet) {
    font-size: em(140);
  }

  @include media(biggest) {
    font-size: em(160);
  }
}

.swiper-pagination-bullet {
  background: $primary;
  height: 12px;
  width: 12px;
  opacity: 1;

  &.swiper-pagination-bullet-active,
  &.swiper-pagination-bullet-active-prev,
  &.swiper-pagination-bullet-active-next,
  &.swiper-pagination-bullet-active-prev-prev,
  &.swiper-pagination-bullet-active-next-next {
    background: $primary;
  }
}

table {
  width: 100%;

  tr {
    opacity: 0;

    @include media(phone) {
      padding: 20px $indent-phone;
      display: grid;
    }

    @include media(smallest) {
      padding: 15px $indent-phone;
    }

    @include media(tablet) {
      padding: 20px $indent-normal;
      padding-left: 0;
      display: block;
    }

    @include media(biggest) {
      padding-right: $indent-biggest;
    }

    td {
      padding: 0;

      &:first-of-type {
        font-family: $cond-bold;

        @include media(phone) {
          margin-bottom: 1vh;
          font-size: em(30);
          line-height: 1;
        }

        @include media(smallest) {
          font-size: em(22);
        }

        @include media(tablet) {
          font-size: em(46);
          width: 60%;
        }

        @include media(biggest) {
          width: 70%;
        }
      }

      &:last-of-type {
        font-family: $cond-normal;

        @include media(phone) {
          font-size: em(16);
        }

        @include media(smallest) {
          font-size: em(14);
        }

        @include media(tablet) {
          font-size: em(20);
          width: 40%;
        }

        @include media(biggest) {
          width: 30%;
        }

        a {
          @include transition($time-fast);
          margin-right: 2.5vw;
          margin-top: 2.5vh;
          font-size: em(18);
          float: right;

          @include media(smallest) {
            margin-top: 1.5vh;
          }
        }
      }
    }
  }
}

section {
  position: relative;

  @include media(phone) {
    padding-left: $indent-phone;
    padding-right: $indent-phone;
  }

  @include media(tablet) {
    padding-left: $padding-normal;
  }

  @include media(biggest) {
    padding-left: $padding-biggest;
  }

  &.align > div {
    height: 100%;
    display: flex;
    align-items: center;

    > div {
      width: 100%;
    }
  }

  &.auto,
  &.auto > div {
    height: auto !important;
  }
}

body {
  &:not(#index) {
    main {
      overflow-x: hidden;
    }

    #footer {
      margin: 0;
      width: calc(100% - 60px);

      @include media(phone) {
        width: calc(100% - 30px);
      }
    }
  }

  &#faq,
  &#post,
  &#events,
  &#reviews,
  &#courses {
    #footer {
      border-top: 0;
      background-color: $light;

      p {
        color: $dark;

        a {
          color: $dark;
        }
      }

      > div a {
        background: url('../images/logo-dark.svg') no-repeat;
      }
    }
  }
}