#faq-1 {
  background-color: var(--light);

  &.animate {
    .paragraph span {
      span {
        transition: transform 1s cubic-bezier(0, 0, .2, 1), opacity 1s cubic-bezier(0, 0, .2, 1);
        transform: translateZ(0);
        opacity: 1;
      }

      &:nth-of-type(2) span {
        transition-delay: .2s;
      }

      &:nth-of-type(3) span {
        transition-delay: .4s;
      }

      &:nth-of-type(4) span {
        transition-delay: .6s;
      }
    }
  }

  .circle {
    p {
      color: var(--circle);

      @include media(biggest) {
        color: var(--pink);
      }
    }

    a {
      background: url('/../images/mouse-light.svg') center no-repeat;
      background-size: 30%;

      @include media(biggest) {
        background: url('/../images/mouse-primary.svg') center no-repeat;
        background-size: 30%;
      }
    }
  }

  .photo {
    animation: fade-in-up $time-slow forwards;
    background: url('/../images/faq-1.jpg') no-repeat;
    position: absolute;
    z-index: 1;
    opacity: 0;
    right: 0;

    @include media(phone) {
      background-position: -45% 65%;
      background-size: 130%;
      height: 100%;
      width: 65%;
    }

    @include media(smallest) {
      background-position: -45% 80%;
    }

    @include media(tablet) {
      background-position: 100% 0;
      background-size: contain;
      height: 115%;
      width: 100%;
    }

    @include media(biggest) {
      height: 85%;
    }

    + div {
      animation: fade-in-up $time-slow 1s forwards;
      background-color: var(--pink);
      position: absolute;
      opacity: 0;
      z-index: 0;

      @include media(phone) {
        height: 70%;
        width: 65%;
        right: 0;
        top: 25%;
      }

      @include media(smallest) {
        top: 28%;
      }

      @include media(tablet) {
        height: 100%;
        width: 30%;
        right: 25%;
        top: 20%;
      }

      @include media(biggest) {
        height: 80%;
        right: 7.5%;
        top: 10%;
      }
    }
  }

  .paragraph {
    z-index: 1;
    position: absolute;

    @include media(phone) {
      left: $indent-phone;
      bottom: 30vh;
    }

    @include media(smallest) {
      bottom: 20vh;
    }

    @include media(tablet) {
      right: 45vw;
      top: 17.5vh;
    }

    @include media(biggest) {
      right: 30vw;
    }

    > * {
      font-family: $cond-bold;
      line-height: 1;
    }

    p,
    h1 {
      opacity: 0;
      color: var(--dark);
      margin-bottom: 1%;
      animation: fade-in-up $time-slow forwards;

      @include media(phone) {
        font-size: em(100);
      }

      @include media(smallest) {
        font-size: em(80);
      }

      @include media(tablet) {
        font-size: em(150);
      }

      @include media(biggest) {
        font-size: em(200);
      }
    }

    span {
      color: var(--dark);
      display: flex;
      overflow: hidden;
      margin-left: 1.5vw;

      span {
        transition: transform .2s cubic-bezier(.4, 0, 1, 1), opacity .2s cubic-bezier(.4, 0, 1, 1);
        transform: translate3d(0, 100%, 0);
        display: block;
        opacity: 0;

        @include media(phone) {
          font-size: em(40);
        }

        @include media(smallest) {
          font-size: em(30);
        }

        @include media(tablet) {
          font-size: em(70);
        }

        @include media(biggest) {
          font-size: em(90);
        }
      }
    }
  }
}

#faq-2 {
  &.animate {
    .paragraph {
      p {
        animation: fade-in-up $time-slow forwards;

        &:last-of-type {
          animation-delay: .1s;
        }
      }
    }
  }

  .paragraph {
    @include media(tablet) {
      width: calc(100% - #{$indent-normal});
      margin-top: 20vh;
    }

    @include media(desktop) {
      margin-top: 0;
    }

    @include media(biggest) {
      width: calc(70% - #{$indent-biggest});
    }

    p {
      animation: fade-in-up-reverse $time-slow;

      &:first-of-type {
        font-family: $cond-bold;
        position: relative;
        color: var(--dark);
        opacity: 0;

        @include media(phone) {
          font-size: em(25);
        }

        @include media(smallest) {
          font-size: em(16);
        }

        @include media(tablet) {
          font-size: em(25);
          width: 80%;
        }

        @include media(desktop) {
          font-size: em(35);
        }

        @include media(biggest) {
          font-size: em(60);
        }

        span {
          color: var(--pink);
          text-transform: uppercase;
        }
      }

      &:last-of-type {
        @extend %horizontal-list;
      }
    }
  }
}

#faq-3 {
  &.animate {
    .paragraph p {
      animation: fade-in-right $time-slow .1s forwards;
    }
  }

  .paragraph {
    @include media(tablet) {
      width: calc(70% - #{$indent-normal});
      margin-left: 30%;
    }

    @include media(biggest) {
      width: calc(50% - #{$indent-normal});
      margin-left: 50%;
    }

    p {
      opacity: 0;
      color: var(--pink);
      position: relative;
      font-family: $cond-bold;
      animation: fade-in-right-reverse $time-slow;

      @include media(phone) {
        font-size: em(25);
      }

      @include media(smallest) {
        font-size: em(16);
      }

      @include media(tablet) {
        font-size: em(25);
      }

      @include media(desktop) {
        font-size: em(35);
      }

      @include media(biggest) {
        font-size: em(60);
      }

      span {
        color: var(--dark);
        text-transform: uppercase;
      }
    }
  }
}

#faq-4 {
  background-color: var(--pink);

  &.animate {
    $item: 10;

    @for $i from 1 through $item {
      .item:nth-of-type(#{$i}) {
        animation: fade-in-up $time-slow .1s * $i forwards;
      }
    }
  }

  .item:not(:last-of-type) {
    border-bottom-color: var(--dark);
  }
}

#faq-5 {
  background-color: var(--dark);

  &.animate {
    $item: 8;

    @for $i from 1 through $item {
      .item:nth-of-type(#{$i}) {
        animation: fade-in-up $time-slow .1s * $i forwards;
      }
    }
  }

  .item {
    &:not(:last-of-type) {
      border-bottom-color: var(--pink);
    }

    div,
    ul li::before {
      color: var(--light);
    }

    p {
      color: var(--pink);

      &:focus,
      &:hover,
      &.selected {
        color: var(--light);
      }
    }
  }
}

#faq-6 {
  &.animate {
    .title {
      animation: fade-in-up $time-slow forwards;
    }

    $list: 6;
    @for $i from 1 through $list {
      .list:nth-of-type(#{$i}) {
        animation: fade-in-up $time-slow .1s * $i forwards;
      }
    }
  }

  .title {
    opacity: 0;
    padding-top: 5vh;
    text-transform: uppercase;
    animation: fade-in-up-reverse $time-slow;

    @include media(phone) {
      font-size: em(30);
    }

    @include media(smallest) {
      font-size: em(22);
    }

    @include media(tablet) {
      font-size: em(40);
    }

    @include media(biggest) {
      font-size: em(50);
    }
  }

  .list {
    opacity: 0;
    padding: 20px 0;
    animation: fade-in-up-reverse $time-slow;

    @include media(smallest) {
      padding: 10px 0;
    }

    @include media(tablet) {
      margin-right: $padding-normal;
    }

    @include media(biggest) {
      margin-right: $padding-biggest;
    }

    &:first-of-type {
      padding-top: 5vh;
    }

    &:last-of-type {
      padding-bottom: 10vh;

      @include media(smallest) {
        padding-bottom: 5vh;
      }
    }

    p {
      @include transition($time-fast);
      text-transform: uppercase;
      font-family: $cond-bold;
      position: relative;
      cursor: pointer;

      @include media(phone) {
        font-size: em(20);
      }

      @include media(smallest) {
        font-size: em(16);
      }

      @include media(tablet) {
        font-size: em(28);
      }

      @include media(biggest) {
        font-size: em(35);
      }
    }

    span {
      display: block;
      font-family: $cond-light;

      @include media(phone) {
        font-size: em(18);
        padding: .75vh 0;
      }

      @include media(smallest) {
        font-size: em(14);
      }

      @include media(tablet) {
        font-size: em(20);
        padding: .5vh 0;
      }

      a {
        @include transition($time-fast);
        color: var(--dark);

        &:focus,
        &:hover {
          color: var(--pink);
        }
      }
    }
  }
}

#faq-7 {
  background-color: var(--pink);

  @include media(phone) {
    padding: 0;
  }

  &.animate {
    table tr,
    .title-above-table, {
      animation: fade-in-up $time-slow forwards;
    }

    table tr {
      animation-delay: .1s;

      &:nth-of-type(2) {
        animation-delay: .2s;
      }
    }
  }

  table tr {
    border-top: 1px solid var(--dark);

    &:last-of-type {
      border-bottom: 1px solid var(--dark);
    }

    td:last-of-type a {
      color: var(--dark);

      @include media(phone) {
        background-color: var(--dark);
        color: var(--pink);
      }

      &:hover {
        color: var(--light);
      }
    }
  }
}
