<!-- <div id="register" class="modal"> -->
<div id="subscribe" class="modal">
	<div>
		<a href="#" class="close"></a>
		<!-- <p class="awesome awesome--3">Awesome, </p> -->
		<!-- <p class="awesome awesome--2">Awesome, </p> -->
		<p class="awesome awesome--1">Awesome, </p>
		<div>
			<div></div>
			<p>you're in!</p>
		</div>
		<span>Thank you for signing up for the Online<br>
			Women Biz updates! You've taken your<br>
			first step towards success.<br><br>

			Stay tuned and check your email for the new<br>
			Online Women Biz events.</span>
	</div>
</div>
