<!-- the cursor elements -->
<div class="cursor cursor--small"></div>
<canvas class="cursor cursor--canvas" resize></canvas>

<!-- logotype -->
<a href="/" id="logo" aria-label="logotype"></a>

<!-- main menu open button for mobile version -->
<div id="nav">
  <div></div>
</div>

<!-- main menu -->
<nav id="menu">
  <ul>
    <li>
      <a href="/">home</a>
    </li>
    <li>
      <a href="about.html">about</a>
    </li>
    <li>
      <a href="nina-mua.html">nina mua</a>
    </li>
    <li>
      <a href="courses.html">courses</a>
    </li>
    <li>
      <a href="events.html">events</a>
    </li>
    <li>
      <a href="blog.html">blog</a>
    </li>
    <li>
      <a href="faq.html">faq</a>
    </li>
  </ul>
</nav>