<!-- the cursor elements -->
<div class="cursor cursor--small"></div>
<canvas class="cursor cursor--canvas" resize></canvas>

<!-- logotype -->
<a href="/" id="logo"></a>

<!-- main menu open button for mobile version -->
<div id="nav">
  <div></div>
</div>

<!-- main menu -->
<nav id="menu">
  <ul>
    <li>
      <a href="/">home</a>
    </li>
    <li>
      <a href="about.html">about</a>
    </li>
    <li>
      <a href="#">reviews</a>
    </li>
    <li>
      <a href="#">courses</a>
    </li>
    <li>
      <a href="#">events</a>
    </li>
    <li>
      <a href="#">blog</a>
    </li>
    <li>
      <a href="#">faq</a>
    </li>
  </ul>
</nav>
