<script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.2/paper-core.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js" defer></script>
<script src="scripts/hover.min.js" defer></script>
<script src="scripts/image.min.js" defer></script>
<script src="scripts/main.min.js" defer></script>
<script src="scripts/scripts.min.js" defer></script>
